[Unit]
Description=InfiBlog SocialMedia
After=network.target

[Service]
User=root
Type=simple
EnvironmentFile=/usr/local/bin/infiBlog/.env
ExecStart=/usr/local/bin/infiBlog/socialmedia
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
