[Unit]
Description=InfiBlog WordPress
After=network.target

[Service]
User=root
Type=simple
EnvironmentFile=/usr/local/bin/infiBlog/.env.wp
ExecStart=/usr/local/bin/infiBlog/wp_job
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target